.panel-body{
    font-size: 0;
    padding: 32px 12px;
}

div.panel-body *{
    font-size: 1.5rem;
}

div.panel-body > a:nth-child(2n){
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    width: 5%;
    line-height: 1.2;
}
div.panel-body > a:nth-child(2n+1){
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    width: 5%;
    line-height: 1.2;
}

div.panel-body > a:nth-of-type(200n+201){
    margin-top: 20px;;
}

@media (max-width: 1400px){
	.panel-body * {
    	font-size: 1.3rem;
	}
    .problem_number {
    	width: 10%;
	}
}